@import "../../theme/index.scss";
@import "../../utils/ccsHelper.scss";

.addGift_container {
  @include adminContentContainer();
  @include centerAll();
}
.addGift_row {
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7px;
  width: 350px;
}
.GiftHeadTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #000c;
}
.sendNewGift {
  width: 100%;
}
.GiftHeadTitle span {
}
.GiftSendInformations {
  display: flex;
  flex-direction: column;
}
.giftOfDiscounts {
}
.giftOfDiscounts {
}
.GiftROw {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.GiftROw span {
  margin: 16px 0;
}
.GiftROw input {
  padding: 10px;
  margin: 16px 0;
  border-radius: 10px;
  border: 1px solid #5f5f5f;
}
.discount_search {
  @include widthHeight(96%, auto);
  @include dispalay(flex, "", center);
  position: absolute;
  margin: 0 0 10px 0;
  min-height: 45px;
  border-radius: 0 0 10px 10px;
  top: 146px;
  padding: 0 14px;
  background-color: aliceblue;
  border: 1px solid cadetblue;
  border-top: none;
}

.discount_search-title {
  @include widthHeight(100%, "");
  border-top: 1px solid #1d8cc1;
  padding: 12px 0;
}
.discount_search-title > span {
  @include widthHeight(100%, 45px);
  @include dispalay(flex, "", center);
}
.discounts {
  width: 100%;
  display: flex;
}
.discountImg {
  width: 100px;
  height: auto;
}
.discountImg img {
  width: 100%;
  height: 90%;
  border-radius: 100%;
}
.discountNameCategory {
  width: 80%;
  font-size: 12px;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
}
.discountName {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 18px;
}
.discountCategory {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 18px;
}
.Member_search {
  @include widthHeight(96%, auto);
  @include dispalay(flex, "", center);
  position: absolute;
  margin: 0 0 10px 0;
  min-height: 45px;
  border-radius: 0 0 10px 10px;
  top: 270px;
  padding: 0 14px;
  background-color: aliceblue;
  border: 1px solid cadetblue;
  border-top: none;
}

.Member_search-title {
  @include widthHeight(100%, "");
  border-top: 1px solid #1d8cc1;
  padding: 12px 0;
}
.Member_search-title > span {
  @include widthHeight(100%, 45px);
  @include dispalay(flex, "", center);
}
.Members {
  width: 100%;
  display: flex;
}
.MemberImg {
  width: 100px;
  height: auto;
}
.MemberImg img {
  width: 100%;
  height: 90%;
  border-radius: 100%;
}
.MemberNameCategory {
  width: 80%;
  font-size: 12px;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
}
.MemberName {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 18px;
}
.MemberCategory {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 18px;
}
.countGift {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.countGift span {
  margin-left: 10px;
}
.countGift input {
  border-radius: 10px;
  border: 1px solid #5f5f5f;
  width: 50px;
  padding: 10px;
  text-align: center;
}
