@import "../../utils/ccsHelper.scss";
#discounts {
  @include widthHeight(80%, "");
  min-height: 150px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0;
  @include dispalay(flex, center, center);
  position: relative;
  padding: 0 5% 0 0;
}
.discount_img {
  @include widthHeight("", 100%);
  max-width: 20%;
  position: absolute;
  right: 0%;
}
.discount_img-view {
  @include widthHeight(100%, 100%);
  border-radius: 0 10px 10px 0;
}
.percent {
  background: url("../../assets/images/discount.png");
  position: absolute;
  right: 7%;
  top: 14%;
  color: #ffffff;
  font-size: 28px;
  padding: 9% 3%;

  border-radius: 10px;
  background-position: 100%;
  background-size: 100%;
  justify-content: center;
}
.titles {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.discount_titles {
  @include widthHeight(70%, 100%);
  @include dispalay(flex, "", center);

  padding: 20px 10px;
}
.cat_title {
  @include widthHeight(100%, 35%);
  @include dispalay(flex, "", center);
  line-height: normal;
}
.discount_number {
  @include widthHeight(41%, 100%);
  @include dispalay(flex, center, center);
  flex-wrap: wrap;
  padding: 0 10px;
  flex-direction: column;
}
.price_discount {
  @include widthHeight(50%, 100%);
  @include dispalay(flex, space-between, center);
  flex-direction: column;
}
.sell {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: "";
  align-items: center;
}
.discount_RealPrice {
  @include widthHeight("", 35%);
  @include dispalay(flex, "", center);
  margin: 28px 0;
}
.discount_NewPrice {
  @include widthHeight("", 35%);
  @include dispalay(flex, "", center);
}

.classNamecat_number {
}
.cat_number-true {
  color: green;
  @include widthHeight(100%, "");
  @include dispalay(flex, space-around, center);
}
.cat_number-false {
  @include widthHeight(100%, "");
  @include dispalay(flex, space-around, center);
  color: red;
}
// .delete_discount {
//   position: absolute;
//   @include widthHeight(20px, 20px);
//   @include dispalay(flex, center, center);
//   border-radius: 100%;
//   left: 1px;
//   top: 2px;
//   background-color: red;
//   color: white;
//   font-weight: 700;
//   border: 1px solid;
//   cursor: pointer;
//   line-height: 1px;
// }
.font12 {
  font-size: 12px;
  color: firebrick;
}
.toman {
  color: black;
  padding: 0 5px 0 0;
  font-size: 11px;
}
.panel_options {
  display: flex;
  width: 6%;
  flex-direction: column;
  position: absolute;
  left: 0;
}
.panel_options button {
  background-color: #929292;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

  margin-bottom: 2%;
}
.delete {
  width: 40px;
  height: 40px;
  line-height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 23px;

  color: white;
  font-weight: 700;
  border: 1px solid;
  margin-left: 3%;
  cursor: pointer;
}

.delete:hover {
  background-color: red;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.edit {
  width: 40px;
  height: 40px;
  line-height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  color: white;
  font-weight: 700;
  border: 1px solid;
  cursor: pointer;
  margin-left: 3%;
}
.edit:hover {
  background-color: orange;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.edit:before {
  content: "\ed50";
  font-family: "iconFont";
  font-size: 22px;
}
.subjectDis {
}
