@import "../../theme/index.scss";
@import "../../utils/ccsHelper.scss";

.addSlider_container {
  @include adminContentContainer();
  @include centerAll();
}
.addSlider_row {
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  position: relative;
  width: 400px;
}
.addSlider_header-box {
  @include widthHeight(100%, 30px);
  background-color: #cccc;
  @include dispalay(flex, "", center);
  padding: 0 15px;
  color: white;
  border-radius: 7px 7px 0 0;
}
.Slider_avatar-insert {
  position: absolute;
  left: 0;

  border-radius: 100%;
  text-align: center;
  padding: 6px 0 0 0;
  top: 47px;
  right: 0;
}
.Slider_avatar-insert img {
  width: 88%;
  height: 150px;
  border-radius: 20px;
  background-color: #eeeeee;
  display: block;
  margin: auto;
}
.img_browser_slider {
  width: 66%;
  height: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  top: 4px;
  font-size: 31px;
  color: #0d72ad;
  left: 0;
  margin: auto;
  right: -78px;
}

.Slider_img-enter {
  position: absolute;

  visibility: hidden;
}
.add_img-Slider {
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  border: 1px solid;
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
  line-height: 17px;
  font-size: 22px;
  color: white;
  background-color: blue;
  padding: 3px;
}
.enter_Slider-name-slider {
  @include widthHeight(100%, "");
  @include dispalay(flex, "", center);
  padding: 209px 25px 100px;
  padding: 209px 14px 93px;
  flex-wrap: wrap;
  padding: 209px 13px 10px;
}

.enter_Slider-name-slider span {
  @include widthHeight(100%, "");
  margin: 15px 0;
}
.enter_Slider-name-slider select {
  width: 100%;
  height: 35px;
  background-color: beige;
  padding: 0 25px;
  font-size: 16px;
  margin: 10px 0;
}
.enter_Slider-name-slider input {
  width: 100%;
  height: 35px;
  background-color: beige;
  padding: 0 25px;
  font-size: 16px;
  margin: 10px 0;
}
.BoxSearch {
  position: relative;
  width: 100%;
}
.btn_Slider-submit {
  @include submiteButton();
}

.Slider_details-send input:hover {
  background-color: #3af50b;
  border: 1px solid #3af50b;

  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.discount_search.searchSlider {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: "";
  align-items: center;
  position: absolute;
  margin: 0 0 10px 0;
  min-height: 45px;
  border-radius: 0 0 10px 10px;
  top: 45px;
  padding: 0 14px;
  background-color: #fdffef;
  border: 1px solid #b1b1b1;
  border-top: none;
}
