@import "../../theme/index.scss";
@import "../../utils/ccsHelper.scss";
.settingReports {
  @include adminContentContainer();
  @include centerAll();
}
.settingBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
}
.STitleHead {
  display: flex;
  width: 100%;
  height: auto;
  line-height: normal;
  justify-content: center;
  background-color: #ccc;
  padding: 5px 0;
}
.SBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
  position: relative;
}
.SBox span {
  line-height: normal;
  margin-bottom: 10px;
}
.SBox textarea {
  width: 100%;
  resize: none;
  line-height: normal;
}
.SBox button {
  position: absolute;
  left: 0;
  bottom: 14px;
  padding: 13px;
}
.STitleSubject {
  display: flex;
  flex-wrap: wrap;
}
.STitleSubject span {
  line-height: normal;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 5px 8px;
  padding: 5px 12px;
  cursor: pointer;
}
.buttonGreen {
  width: 100%;

  display: flex;
}
.buttonGreen span {
  width: 100px;
  cursor: pointer;
  padding: 15px;
  background-color: green;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin: auto;
}
