@import "../../utils/ccsHelper.scss";
#Members {
  @include widthHeight(80%, 150px);
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0;
  @include dispalay(flex, "", center);
  position: relative;
  padding: 0 138px 0 0;
}
.Member_img {
  @include widthHeight(145px, 145px);
  padding: 10px;
  position: absolute;
  right: 0;
  border-radius: 100%;
}
.Member_img-view {
  @include widthHeight(100%, 100%);

  border-radius: 100%;
}
.Member_titles {
  @include widthHeight(35%, 100%);
  @include dispalay(flex, "", "");

  padding: 20px 10px;
  flex-direction: column;
  line-height: 2;
}
.Member_titles {
  line-height: normal;
}
.cat_title {
  @include widthHeight(100%, 35%);
  @include dispalay(flex, "", center);
}
.Member_details {
  color: crimson;
}
.row {
  color: #292525;
}
.classNamecat_number {
}
.cat_number-true {
  color: green;
  @include widthHeight(100%, "");
  @include dispalay(flex, space-around, center);
}
.cat_number-false {
  @include widthHeight(100%, "");
  @include dispalay(flex, space-around, center);
  color: red;
}
.block_Member {
  position: absolute;
  width: 61px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  left: 1px;
  top: 2px;
  background-color: #292525;
  color: white;
  font-weight: 700;
  border: 1px solid;
  cursor: pointer;
}
.font12 {
  font-size: 12px;
  color: firebrick;
}
.toman {
  color: black;
  padding: 0 5px 0 0;
  font-size: 11px;
}
