@font-face {
    font-family:'IranSansLight';
    font-style: normal;
    font-weight: 300;
    src: url('./eot/IRANSansWeb(FaNum)_Light.eot');
    src: local('IRANSans_LFN');
    src: url('./eot/IRANSansWeb(FaNum)_Light.eot') format('embedded-opentype'),  /* IE6-8 */
    url('./woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('./woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
    font-family:'IranSans';
    font-style: normal;
    src: url('./eot/IRANSansWeb(FaNum).eot');
    src: local('IRANSans_LFN');
    src: url('./eot/IRANSansWeb(FaNum).eot') format('embedded-opentype'),  /* IE6-8 */
    url('./woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('./woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

@font-face {
    font-family:'IranSansBold';
    font-style: normal;
    src: url('./eot/IRANSansWeb(FaNum)_Bold.eot');
    src: local('IRANSans_LFN');
    src: url('./eot/IRANSansWeb(FaNum)_Bold.eot') format('embedded-opentype'),  /* IE6-8 */
    url('./woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('./woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family:'IRANSansMedium';
    font-style: normal;
    src: url('./eot/IRANSansWeb(FaNum)_Medium.eot');
    src: local('IRANSans_LFN');
    src: url('./eot/IRANSansWeb(FaNum)_Medium.eot') format('embedded-opentype'),  /* IE6-8 */
    url('./woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('./woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
    font-family:'IranSansUltraLight';
    font-style: normal;
    src: url('./eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: local('IRANSans_LFN');
    src: url('./eot/IRANSansWeb(FaNum)_UltraLight.eot') format('embedded-opentype'),  /* IE6-8 */
    url('./woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('./woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family:'iconFont';
    src: url('./eot/iconFont.eot');
    src: url('./eot/iconFont.eot') format('embedded-opentype'),  /* IE6-8 */
    url('./woff2/iconFont.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('./woff/iconFont.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ttf/iconFont.ttf') format('truetype');
}
