@mixin flexBoxCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin dispalay($flex, $justify-content, $align-items) {
  display: $flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin bordeBottom($width, $color) {
  border-bottom: $width solid $color;
}
@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}
.login_box-row {
  @include widthHeight(100%, 80px);
  padding: 20px;
}
.login_title {
  width: 100%;
  display: block;
  @include dispalay(flex, "", center);
  height: 20px;
  margin-bottom: 10px;
  font-size: 13px;
  color: #8a8a8a;
}
.login_box-value {
  @include widthHeight(100%, 45px);
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 12px;
  background-color: #eee;
  direction: ltr;
}
