@import "../../utils/ccsHelper.scss";

// @mixin flexBoxCenter {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// @mixin dispalay($flex, $justify-content, $align-items) {
//   display: $flex;
//   justify-content: $justify-content;
//   align-items: $align-items;
// }
// @mixin bordeBottom($width, $color) {
//   border-bottom: $width solid $color;
// }
// @mixin widthHeight($width, $height) {
//   width: $width;
//   height: $height;
// }

.owner {
  @include adminContentContainer();
}
.owner_container {
}
.owner_option {
  width: auto;
  display: flex;
}
.all_category {
  width: 26%;
  height: auto;
  text-align: center;
  cursor: pointer;
}
.all_category select {
  width: 100%;
  padding: 6%;
  background-color: #8c8b8b;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.owner-block {
  width: 20%;
  background-color: #b7b7b7;
  color: white;

  cursor: pointer;
}
.owner-block span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.owner-block.unBlock {
  background-color: #7bbd8c;
}
.owner-block.block {
  background-color: #ff8080;
}

#modal_question {
  display: none;
}
#modal_question.actived {
  position: fixed;
  display: flex;
  padding: 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
  flex-wrap: wrap;
  z-index: 2;
  border-radius: 20px;
  box-shadow: 1px 2px 7px 2px;
  top: 40%;
  right: 40%;
}
#modal_question.actived > span {
  padding: 9% 0;
}
.remove_accept {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove_accept span {
  display: block;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.orange {
  background-color: #fbc500;
}
.orange:hover {
  background-color: #f8d248;
}
.green {
  margin: 0px 0px 0px 52px;
  background-color: #00fb08;
}
.green:hover {
  background-color: #48fd4e;
}
.head_owner {
  display: flex;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: #cccc;
}
.owner_title {
  width: 205px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.owner_submite {
  width: 150px;

  height: 45px;
}
.owner_submit {
  @include submiteButton();
}
.owner_submit:hover {
  background-color: rgb(40, 241, 40);
  border: 1px solid rgb(40, 241, 40);
}
.owner_row-container {
  box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px 0;
  line-height: 1;
  border-radius: 5px;
  position: relative;
  padding: 0 0 0 24px;
  background-color: white;
}
.owner_avatar {
  width: 96px;
  height: 96px;
  margin: 8px;
  border-radius: 100%;
}

.owner_discription {
  display: flex;
  flex-direction: column;
  height: 100%;

  line-height: 1;
  justify-content: center;
}
.owner_discription span {
  margin: 4px 3px;
  min-width: 170px;
  width: 100%;
}
.owner_owner {
  font-size: 13px;
  opacity: 0.5;
}
.owner_name {
  font-size: 15px;
}
.owner_phone-number {
  font-size: 12px;
}
.owner_active_discount {
  font-size: 20px;
  color: green;
}
.owner_de-active_discount {
  font-size: 20px;
  color: red;
}
.owner_address {
  font-size: 12px;
}
.phone_address {
  height: 56px;
  display: inline-grid;
  width: 61%;
  text-align: center;
}
.owner_active {
  width: 18%;
  height: 99px;
  text-align: end;
}
.owner_activing {
  height: 76px;
}
.owner_is-active {
  color: #113e11;
}
.owner_de-active {
}
.owner_is-de-active {
  color: #9b0f0f;
}
.owner_list {
  @include widthHeight(100%, "");
  flex-wrap: wrap;
  background-color: white;
  @include dispalay(flex, center, center);
  padding: 60px 0 70px 0;
}
