@import "../../utils/ccsHelper.scss";
#gift {
  @include widthHeight(80%, 150px);
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0;
  @include dispalay(flex, "", center);
  position: relative;
}
.gMemberImg {
  width: 20%;
  height: 100%;
}
.gMemberImg img {
  width: 100%;
  height: 100%;
}
.TimeAndTrackCode {
  @include dispalay(flex, space-evenly, center);
  flex-direction: column;
  white-space: nowrap;
  height: 100%;

  line-height: normal;
}
