@import "../../utils/ccsHelper.scss";

// @mixin flexBoxCenter {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// @mixin dispalay($flex, $justify-content, $align-items) {
//   display: $flex;
//   justify-content: $justify-content;
//   align-items: $align-items;
// }
// @mixin bordeBottom($width, $color) {
//   border-bottom: $width solid $color;
// }
// @mixin widthHeight($width, $height) {
//   width: $width;
//   height: $height;
// }

.Transaction {
  @include adminContentContainer();
}
.Transaction_container {
}
.head_Transaction {
  display: flex;
  padding: 37px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: #cccc;
}
.Transactions_title {
  width: 205px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.Transaction_submite {
  width: 150px;

  height: 45px;
}
.Transaction_submit {
  @include submiteButton();
}
.Transaction_submit:hover {
  background-color: rgb(40, 241, 40);
  border: 1px solid rgb(40, 241, 40);
}
.Transaction_tabs {
  @include widthHeight(100%, 65px);

  background-color: white;
  @include dispalay(flex, center, center);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Transaction_tabs .tab {
  @include widthHeight(35%, 100%);
  @include dispalay(flex, center, center);
  border: 1px solid #ccc;
  cursor: pointer;
  background: #efefef;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Transaction_tabs .tab:hover {
  background: #b8b8b8;
}
.activingTabs {
  @include widthHeight(35%, 100%);
  @include dispalay(flex, center, center);
  border-bottom: 1px solid #ccc;
  background: white;
  border-bottom-color: blue;
  color: blue;
  font-size: 19px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Transaction_row-container {
  box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px 0;
  line-height: 1;
  border-radius: 5px;
  position: relative;
  padding: 0 0 0 24px;
  background-color: white;
}

.Transaction_avatar {
  width: 96px;
  height: 96px;
  margin: 8px;
  border-radius: 100%;
}

.Transaction_discription {
  display: flex;
  flex-direction: column;
  height: 100%;

  line-height: 1;
  justify-content: center;
}
.Transaction_discription span {
  margin: 4px 3px;
  min-width: 170px;
  width: 100%;
}
.Transaction_Transaction {
  font-size: 13px;
  opacity: 0.5;
}
.Transaction_name {
  font-size: 15px;
}
.Transaction_phone-number {
  font-size: 12px;
}
.Transaction_active_discount {
  font-size: 20px;
  color: green;
}
.Transaction_de-active_discount {
  font-size: 20px;
  color: red;
}
.Transaction_address {
  font-size: 12px;
}
.phone_address {
  height: 56px;
  display: inline-grid;
  width: 61%;
  text-align: center;
}
.Transaction_active {
  width: 18%;
  height: 99px;
  text-align: end;
}
.Transaction_activing {
  height: 76px;
}
.Transaction_is-active {
  color: #113e11;
}
.Transaction_de-active {
}
.Transaction_is-de-active {
  color: #9b0f0f;
}
.Transaction_list {
  @include widthHeight(100%, "");
  flex-wrap: wrap;
  background-color: white;
  @include dispalay(flex, center, center);
  padding: 60px 0 70px 0;
}
