.owner_details {
  width: 52%;
  box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  position: absolute;
  right: 20%;
  left: 0;
  top: 20%;
  margin: 0 auto 17px;
}
#modal_question {
  display: none;
}
#modal_question.actived {
  position: fixed;
  display: flex;
  padding: 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
  flex-wrap: wrap;
  z-index: 2;
  border-radius: 20px;
  box-shadow: 1px 2px 7px 2px;
}
#modal_question.actived > span {
  padding: 9% 0;
}
.remove_accept {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove_accept span {
  display: block;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.orange {
  background-color: #fbc500;
}
.orange:hover {
  background-color: #f8d248;
}
.green {
  margin: 0px 0px 0px 52px;
  background-color: #00fb08;
}
.green:hover {
  background-color: #48fd4e;
}
.owner_head-title {
  width: 100%;
  background-color: #ccc;
  height: 37px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  padding: 0 16px;
  color: white;
  font-size: 14px;
}
.owner_form {
  position: relative;
  padding: 35px 0 0 0;
}
.owner_row {
  padding: 10px;
}
.owner_row.positionReletive {
  position: relative;
}
.span_other-mobile {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  margin: 5px 0;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.span_other-mobile span {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 108px;
  min-height: 32px;
  box-shadow: 1px 1px 4px black;
  margin: 0 7px 15px;
  border-radius: 20px;
  padding: 0 20px;
}
.enter_mobile {
  width: 69px;
  height: 40.5px;
  background-color: green;
  position: absolute;
  left: 5px;
  bottom: 24px;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
.owner_row-title {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.owner_row-value {
  width: 100%;
  height: 41px;
  border-radius: 6px;
  border: 1px solid cadetblue;
  background-color: aliceblue;
  padding: 0 20px;
  font-size: 16px;
  margin: 14px 0;
}
.selectOption {
  border: 1px solid blue;
  border-radius: 20px;
}
.owner_row-value option {
  border-radius: 10px;
  background-color: #bae0e6;
}
.owner_details-send {
  padding: 8px 22px 0 0;
}
.owner_details-send input {
  border: 1px solid #106b00;
  height: 34px;
  width: 114px;
  border-radius: 8px;
  background-color: #106b00;
  font-weight: 700;
  color: white;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.owner_details-send input:hover {
  background-color: #24dd03;
  border: 1px solid #24dd03;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.owner_avatar-insert {
  position: absolute;
  left: 26px;
  height: 108px;
  border-radius: 100%;
  text-align: center;
  padding: 6px 0 0 0;
  top: -77px;
}
.owner_avatar-insert img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #eeeeee;
  display: block;
  border: 5px solid white;
}
.img_browser {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  top: -32px;
  font-size: 31px;
  color: #0d72ad;
  left: 5px;
}

.owner_img-enter {
  position: absolute;

  visibility: hidden;
}
.add_img-owner {
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  border: 1px solid;
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
  line-height: 17px;
  font-size: 22px;
  color: white;
  background-color: blue;
  padding: 3px;
}
