@import "../../utils/ccsHelper.scss";

// @mixin flexBoxCenter {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// @mixin dispalay($flex, $justify-content, $align-items) {
//   display: $flex;
//   justify-content: $justify-content;
//   align-items: $align-items;
// }
// @mixin bordeBottom($width, $color) {
//   border-bottom: $width solid $color;
// }
// @mixin widthHeight($width, $height) {
//   width: $width;
//   height: $height;
// }

.slider {
  @include adminContentContainer();
}
.slider_container {
}
.head_slider {
  display: flex;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: #cccc;
}
.slider_title {
  width: 205px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.slider_submite {
  width: 150px;

  height: 45px;
}
.slider_submit {
  @include submiteButton();
}
.slider_submit:hover {
  background-color: rgb(40, 241, 40);
  border: 1px solid rgb(40, 241, 40);
}
.tab_category {
  @include widthHeight(100%, 30px);
  background-color: white;
  @include dispalay(flex, "", center);
  background-color: white;
  padding: 25px 0 25px 0;
  display: contents;
}
.tab_category select {
  width: 24%;
  padding: 10px;
  background-color: cadetblue;
  color: white;
  font-size: 15px;
}

.slider_row-container {
  box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px 0;
  line-height: 1;
  border-radius: 5px;
  position: relative;
  padding: 0 0 0 24px;
  background-color: white;
}
.slider_avatar {
  width: 96px;
  height: 96px;
  margin: 8px;
  border-radius: 100%;
}

.slider_discription {
  display: flex;
  flex-direction: column;
  height: 100%;

  line-height: 1;
  justify-content: center;
}
.slider_discription span {
  margin: 4px 3px;
  min-width: 170px;
  width: 100%;
}
.slider_slider {
  font-size: 13px;
  opacity: 0.5;
}
.slider_name {
  font-size: 15px;
}
.slider_phone-number {
  font-size: 12px;
}
.slider_active_discount {
  font-size: 20px;
  color: green;
}
.slider_de-active_discount {
  font-size: 20px;
  color: red;
}
.slider_address {
  font-size: 12px;
}
.phone_address {
  height: 56px;
  display: inline-grid;
  width: 61%;
  text-align: center;
}
.slider_active {
  width: 18%;
  height: 99px;
  text-align: end;
}
.slider_activing {
  height: 76px;
}
.slider_is-active {
  color: #113e11;
}
.slider_de-active {
}
.slider_is-de-active {
  color: #9b0f0f;
}
.slider_list {
  @include widthHeight(100%, "");
  flex-wrap: wrap;
  background-color: white;
  @include dispalay(flex, center, center);
  padding: 60px 0 70px 0;
}
.optionsBox {
  display: flex;
}
