@import "../../theme/index.scss";
@import "../../utils/ccsHelper.scss";

.addDistrict_container {
  @include adminContentContainer();
  @include centerAll();
}
.addDistrict_row {
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  position: relative;
}
.addDistrict_header-box {
  @include widthHeight(100%, 30px);
  background-color: #cccc;
  @include dispalay(flex, "", center);
  padding: 0 15px;
  color: white;
  border-radius: 7px 7px 0 0;
}
.District_avatar-insert {
  position: absolute;
  left: 26px;
  height: 108px;
  border-radius: 100%;
  text-align: center;
  padding: 6px 0 0 0;
  top: -46px;
}
.District_avatar-insert img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #eeeeee;
  display: block;
}
.img_browser {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  top: -32px;
  font-size: 31px;
  color: #0d72ad;
  left: 5px;
}

.District_img-enter {
  position: absolute;

  visibility: hidden;
}
.add_img-District {
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  border: 1px solid;
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
  line-height: 17px;
  font-size: 22px;
  color: white;
  background-color: blue;
  padding: 3px;
}
.enter_District-name {
  @include widthHeight(100%, 139px);
  @include dispalay(flex, "", center);

  padding: 40px 21px 0;
  flex-wrap: wrap;
}
.enter_District-name span {
  @include widthHeight(100%, "");
}
.enter_District-name input {
  @include input(100%);
}
.btn_District-submit {
  @include submiteButton();
}

.District_details-send input:hover {
  background-color: #3af50b;
  border: 1px solid #3af50b;

  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
