@import "../../utils/ccsHelper.scss";

// @mixin flexBoxCenter {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// @mixin dispalay($flex, $justify-content, $align-items) {
//   display: $flex;
//   justify-content: $justify-content;
//   align-items: $align-items;
// }
// @mixin bordeBottom($width, $color) {
//   border-bottom: $width solid $color;
// }
// @mixin widthHeight($width, $height) {
//   width: $width;
//   height: $height;
// }

.category {
  @include adminContentContainer();
}
.category_container {
}
.head_category {
  display: flex;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: #cccc;
}
.category_title {
  width: 205px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  white-space: nowrap;
}
.category_submite {
  width: 150px;

  height: 45px;
}
.category_submit {
  @include submiteButton();
}
.category_submit:hover {
  background-color: rgb(40, 241, 40);
  border: 1px solid rgb(40, 241, 40);
}
.category_row-container {
  box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px 0;
  line-height: 1;
  border-radius: 5px;
  position: relative;
  padding: 0 0 0 24px;
  background-color: white;
}
.category_avatar {
  width: 96px;
  height: 96px;
  margin: 8px;
  border-radius: 100%;
}

.category_discription {
  display: flex;
  flex-direction: column;
  height: 100%;

  line-height: 1;
  justify-content: center;
}
.category_discription span {
  margin: 4px 3px;
  min-width: 170px;
  width: 100%;
}
.category_category {
  font-size: 13px;
  opacity: 0.5;
}
.category_name {
  font-size: 15px;
}
.category_phone-number {
  font-size: 12px;
}
.category_active_discount {
  font-size: 20px;
  color: green;
}
.category_de-active_discount {
  font-size: 20px;
  color: red;
}
.category_address {
  font-size: 12px;
}
.phone_address {
  height: 56px;
  display: inline-grid;
  width: 61%;
  text-align: center;
}
.category_active {
  width: 18%;
  height: 99px;
  text-align: end;
}
.category_activing {
  height: 76px;
}
.category_is-active {
  color: #113e11;
}
.category_de-active {
}
.category_is-de-active {
  color: #9b0f0f;
}
.category_list {
  @include widthHeight(100%, "");
  flex-wrap: wrap;
  background-color: white;
  @include dispalay(flex, center, center);
  padding: 60px 0 70px 0;
}
.optionsWithPage {
  display: flex;
  width: 100%;
  height: 85px;
}
.optionsWithPageBox {
  width: auto;
  padding: 5px 20px;
  height: 100%;
  background-color: #6b6b6bcc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
.optionsWithPageBox:hover {
  background-color: #494949cc;
}
.optionsPageTitle {
}
.modalShowSubContainer {
  position: fixed;
  padding: 20px;
  margin: auto;
  top: 40%;
  right: 0;
  left: 0;
  flex-wrap: wrap;
  width: 80%;
  line-height: normal;
  background-color: white;
  box-shadow: 1px 1px 6px 2px #ccc;
  border-radius: 10px;
}
.modalShowSubContainer > span {
  padding: 7px 50px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 2px #ccc;
  position: relative;
}
.modalShowSubContainer i {
  position: absolute;
  left: 2px;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid red;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modalShowSubContainer i:before {
  content: "x";
  color: red;
  font-size: 20px;
}
.close {
  position: absolute;
  border-radius: 50%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10px;
  top: 2px;
  padding: 0 5px;
  color: red;
  cursor: pointer;
}
