@import "../../utils/ccsHelper.scss";
#Transactions {
  @include widthHeight(80%, 150px);
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0;
  @include dispalay(flex, "", center);
  position: relative;
}
.Transaction_img {
  @include widthHeight(140px, 140px);
  padding: 10px;
  border-radius: 100%;
}

.Transaction_img-view {
  @include widthHeight(100%, 100%);
  border-radius: 100%;
}
.Transaction_titles {
  @include widthHeight("", 100%);
  min-width: 100px;
  @include dispalay(grid, center, center);

  padding: 20px 10px;
  margin: 0 28px;
}

.Transaction_date {
  @include widthHeight(222px, 36%);
  @include dispalay(flex, "", center);
  flex-wrap: wrap;
}
.Transaction_date span {
  min-width: 59px;
  min-height: 42px;
  @include dispalay(flex, center, center);
}
.price_Transaction {
  @include widthHeight(100%, 20%);
  @include dispalay(flex, "", center);
}
.Transaction_RealPrice {
  @include widthHeight(10%, 35%);
  @include dispalay(flex, "", center);
  margin-left: 40px;
}
.Transaction_NewPrice {
  @include widthHeight(33%, 35%);
  @include dispalay(flex, "", center);
}

.classNameTransaction_number {
}
.Transaction_date-true {
  color: black;
  @include widthHeight(100%, "");
  @include dispalay(flex, space-around, center);
}

.delete_Transaction {
  position: absolute;
  @include widthHeight(35px, 35px);
  @include dispalay(flex, center, center);
  border-radius: 20px;
  left: 5px;
  top: 38%;
  background-color: red;
  color: white;
  font-weight: 700;
  border: 1px solid;
  cursor: pointer;
}
.accept_Transaction {
  position: absolute;
  @include widthHeight(35px, 35px);
  @include dispalay(flex, center, center);
  border-radius: 100%;
  left: 63px;
  top: 38%;
  background-color: green;
  color: white;
  font-weight: 700;
  border: 1px solid;
  cursor: pointer;
}
.font12 {
  font-size: 12px;
  color: firebrick;
}
.toman {
  color: black;
  padding: 0 5px 0 0;
  font-size: 11px;
}
