@import "../../utils/ccsHelper.scss";
.ReportContainer {
  @include adminContentContainer();
}
.Report_head {
  @include widthHeight(100%, 100px);
  background-color: #cccc;
  @include dispalay(flex, space-between, center);
  padding: 10px 20px;
}
.Report_title {
  width: 205px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.Report_submite {
  width: 150px;

  height: 45px;
}
.Report_submit {
  @include submiteButton();
}
.Report_submit:hover {
  background-color: rgb(40, 241, 40);
  border: 1px solid rgb(40, 241, 40);
}
.Report_list {
  margin: 20px 0 0 0;
}
.pages {
  width: 70vw;
  text-align: center;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}
.page.actived {
  border: 1px solid black;
  background: white;
}
