@import "../../theme/index.scss";
@import "../../utils/ccsHelper.scss";

.adddiscount_container {
  @include adminContentContainer();
  @include centerAll();
}
.discount {
  width: 100%;

  width: 100%;
  @include dispalay(flex, center, center);
  margin-top: auto;
  padding-top: 44px;
}
#modal_question {
  display: none;
}
#modal_question.actived {
  position: fixed;
  display: flex;
  padding: 2% 0;
  @include dispalay(flex, center, center);
  margin: auto;
  background-color: white;
  flex-wrap: wrap;
  z-index: 2;
  border-radius: 20px;
  box-shadow: 1px 2px 7px 2px;
}
#modal_question.actived > span {
  padding: 9% 0;
}
.remove_accept {
  width: 100%;
  @include dispalay(flex, center, center);
}
.remove_accept span {
  display: block;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.orange {
  background-color: #fbc500;
}
.orange:hover {
  background-color: #f8d248;
}
.green {
  margin: 0px 0px 0px 52px;
  background-color: #00fb08;
}
.green:hover {
  background-color: #48fd4e;
}
.adddiscount_row {
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  position: relative;
  width: 50%;
  min-height: 400px;
  margin-top: auto;
  margin-bottom: 20px;
}
.discount_row select {
  width: 50%;
  padding: 10px;
  background-color: aliceblue;
}
.adddiscount_header-box {
  @include widthHeight(100%, 30px);
  background-color: #cccc;
  @include dispalay(flex, "", center);
  padding: 0 15px;
  color: white;
  border-radius: 7px 7px 0 0;
}
.adddiscount_header-box > span {
  width: 100%;
  color: brown;
}
.add_images {
  width: 105px;
  height: 91%;
  background-color: #bfb102;
  border: 1px solid #b9a303;
  color: white;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
}
.add_images:hover {
  background-color: #ffe10d;
}
.discount_avatar-insert {
  position: relative;
  height: auto;
  text-align: center;
  padding: 6px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}
.label_images {
  width: 69%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.preview_discount {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #eeeeee;
  display: block;
  margin: 0px 7px 10px 0;
}
.img_discount {
  height: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  top: 71px;
  font-size: 31px;
  color: #0d72ad;
  right: -100px;
}

.discount_img-enter {
  position: absolute;

  visibility: hidden;
}
.add_img-discount {
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  border: 1px solid;
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
  line-height: 17px;
  font-size: 22px;
  color: white;
  background-color: blue;
  padding: 3px;
}
.enter_discount-name {
  @include widthHeight(100%, 139px);
  @include dispalay(flex, "", center);

  padding: 40px 21px 0;
  flex-wrap: wrap;
}
.enter_discount-name > span {
  @include widthHeight(100%, "");
}
.enter_discount-name input {
  @include input(100%);
}
.btn_discount-submit {
  @include submiteButton();
}

.discount_details-send input:hover {
  background-color: #3af50b;
  border: 1px solid #3af50b;

  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.discount_row {
  width: 100%;
  height: 67%;
  border-radius: 6px;

  padding: 5px 20px;
  font-size: 16px;
  margin: 9px 0;
}
.discount_row-title {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 16px 0;
}
.discount_row-title-search {
  @include widthHeight(100%, auto);
  flex-wrap: wrap;
  margin: 5px 0;
  @include dispalay(flex, "", center);
}
.discount_row-title-search > span {
  @include widthHeight(auto, auto);
  @include dispalay(flex, center, center);
  flex-wrap: wrap;
  min-width: 108px;
  min-height: 32px;
  box-shadow: 1px 1px 4px black;
  margin: 0 7px 15px;
  border-radius: 20px;
  padding: 0 20px;
  line-height: normal;
  cursor: pointer;
}
.discount_row-value {
  width: 100%;
  height: 67%;
  border-radius: 6px;
  border: 1px solid cadetblue;
  background-color: aliceblue;
  padding: 6px 20px 6px 75px;
  font-size: 16px;
  margin: 6px 0;
}
.discount_row.positionRealetive {
  position: relative;
}
.disOwner_search {
  @include widthHeight(92.5%, auto);
  @include dispalay(flex, "", center);
  position: absolute;
  margin: 0 0 10px 0;
  min-height: 45px;
  border-radius: 0 0 10px 10px;
  top: 79px;
  padding: 0 14px;
  background-color: aliceblue;
  border: 1px solid cadetblue;
  border-top: none;
}

.disOwner_search-title {
  @include widthHeight(100%, "");
  border-top: 1px solid #1d8cc1;
  padding: 12px 0;
}
.disOwner_search-title > span {
  @include widthHeight(100%, 45px);
  @include dispalay(flex, "", center);
}
.selectOption {
  border: 1px solid blue;
  border-radius: 20px;
}
.discount_row-value option {
  border-radius: 10px;
  background-color: #bae0e6;
}
.discount_details-send {
  padding: 22px 22px 0 0;
}
.discount_details-send input {
  border: 1px solid #106b00;
  height: 34px;
  width: 114px;
  border-radius: 8px;
  background-color: #106b00;
  font-weight: 700;
  color: white;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.discount_details-send input:hover {
  background-color: #24dd03;
  border: 1px solid #24dd03;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.discount_avatar-insert img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #eeeeee;
  display: block;
  cursor: pointer;
  border: 4px solid #32ceb1;
}
.img_browser {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  top: -32px;
  font-size: 31px;
  color: #0d72ad;
  left: 5px;
}

.discount_img-enter {
  position: absolute;

  visibility: hidden;
}
.disTermsOFuse_send {
  position: absolute;
  left: 19px;
  bottom: 11px;
  height: 40.5px;
  width: 74px;
  border: 1px solid green;
  background-color: #09dc09;
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.disTermsOFuse_send:hover {
  border: 1px solid #09dc09;
  background-color: #3eeb3e;
}
.add_img-discount {
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  border: 1px solid;
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
  line-height: 17px;
  font-size: 22px;
  color: white;
  background-color: blue;
  padding: 3px;
}
.discount_prices {
  @include widthHeight(100%, "");
  @include dispalay(flex, center, center);
}
.sellers {
  width: 100%;
  display: flex;
}
.sellerImg {
  width: 10%;
  height: auto;
}
.sellerImg img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.sellerNameCategory {
  width: 80%;
  font-size: 12px;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
}
.sellerName {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 18px;
}
.sellerCategory {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 18px;
}
.D_avatar-insert {
  position: absolute;
  left: 147px;
  height: 108px;
  border-radius: 100%;
  text-align: center;
  padding: 6px 0 0 0;
  top: -44px;
  z-index: 10;
}
.D_avatar-insert img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #eeeeee;
  display: block;
  border: 5px solid white;
}
