@import "../../theme/index.scss";

.navbar {
  width: 100%;
  height: $navBarSize;
  background-color: #f5f5f5;
  position: fixed;
  z-index: 11;
  right: 0;
  left: 0;
}
.navbar_container {
  height: 100%;
  padding: 20px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);
}
.navbar_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.navbar_box-right {
  width: 82%;
  display: flex;
  flex-direction: inherit;
}
.Nav_box-right {
  width: 20%;
  height: 100%;
}
.Nav_box-left {
  width: 82%;
  display: flex;
  flex-basis: -moz-max-content;
}
.left_nav-box {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 45px 0 0;
}
.menu-icon {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  position: relative;
}
.icon_information {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_information::before {
  content: "\eed5";
  font-family: iconFont;
  font-size: 25px;
  color: #bfbfbf;
}
.menu-icon span {
  display: inline-block;
  position: absolute;
  min-width: 18px;
  min-height: 18px;
  border-radius: 100%;
  background-color: red;
  top: -4px;
  right: -7px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1px;
}
.admin_information {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.title_name {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}
.title_name a {
  width: 100%;
  position: relative;
}
.title_name a::before {
  content: "\eab2";
  font-family: iconFont;
  margin: 0 0 0 11px;
  cursor: pointer;
  display: inline-block;

  right: 24px;
  top: 4px;
  font-size: 13px;
  color: #727272;
}
.admin-image {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}
.admin-image img {
  width: 45px;
  height: 45px;
  border-radius: 14%;
}
.navbar_box-left {
  width: 18%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #06aa1f;
}
.navbar_box-left-logo {
  width: 50%;
  height: 100%;
  display: flex;
  cursor: pointer;
}
.navbar_box-left-logo div {
  background-image: url(../../assets/images/lg_kampon.png);
  width: 44%;
  background-position: 100%;
  background-size: contain;
  height: 100%;
  display: flex;
  background-repeat: no-repeat;
}
.navbar_box-left-logo span {
  color: rgb(0, 176, 199);
  display: flex;
  justify-content: center;
  align-items: center;
}
