@import "../theme/index.scss";

@mixin flexBoxCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin dispalay($flex, $justify-content, $align-items) {
  display: $flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin bordeBottom($width, $color) {
  border-bottom: $width solid $color;
}
@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin adminContentContainer() {
  @include widthHeight(100%, "");
  height: 100vh;

  padding-right: $sideBarSize;
  padding-top: $navBarSize;
}

@mixin centerAll() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin submiteButton() {
  border-radius: 8px;
  background-color: #00c853;
  border: 1px solid #9ccc65;
  font-size: 15px;
  color: white;
  width: 200px;
  margin: 8px auto;
  font-family: "IranSans";
  padding: 8px 16px;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

@mixin input($width) {
  @include widthHeight($width, "");
  border-radius: 8px;
  padding: 8px;
  font-size: 15px;
  font-family: "IranSans";
  border: 1px solid #bdbdbd;
  background-color: #eeeeee;
}
