@import "../../utils/ccsHelper.scss";

// @mixin flexBoxCenter {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// @mixin dispalay($flex, $justify-content, $align-items) {
//   display: $flex;
//   justify-content: $justify-content;
//   align-items: $align-items;
// }
// @mixin bordeBottom($width, $color) {
//   border-bottom: $width solid $color;
// }
// @mixin widthHeight($width, $height) {
//   width: $width;
//   height: $height;
// }

.District {
  @include adminContentContainer();
}
.District_container {
}
.head_District {
  display: flex;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: #cccc;
}
.District_title {
  width: 205px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.District_submite {
  width: 150px;

  height: 45px;
}
.District_submit {
  @include submiteButton();
}
.District_submit:hover {
  background-color: rgb(40, 241, 40);
  border: 1px solid rgb(40, 241, 40);
}
.District_row-container {
  box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px 0;
  line-height: 1;
  border-radius: 5px;
  position: relative;
  padding: 0 0 0 24px;
  background-color: white;
}
.District_avatar {
  width: 96px;
  height: 96px;
  margin: 8px;
  border-radius: 100%;
}

.District_discription {
  display: flex;
  flex-direction: column;
  height: 100%;

  line-height: 1;
  justify-content: center;
}
.District_discription span {
  margin: 4px 3px;
  min-width: 170px;
  width: 100%;
}
.District_District {
  font-size: 13px;
  opacity: 0.5;
}
.District_name {
  font-size: 15px;
}
.District_phone-number {
  font-size: 12px;
}
.District_active_discount {
  font-size: 20px;
  color: green;
}
.District_de-active_discount {
  font-size: 20px;
  color: red;
}
.District_address {
  font-size: 12px;
}
.phone_address {
  height: 56px;
  display: inline-grid;
  width: 61%;
  text-align: center;
}
.District_active {
  width: 18%;
  height: 99px;
  text-align: end;
}
.District_activing {
  height: 76px;
}
.District_is-active {
  color: #113e11;
}
.District_de-active {
}
.District_is-de-active {
  color: #9b0f0f;
}
.District_list {
  @include widthHeight(88%, auto);
  flex-wrap: wrap;
  background-color: white;
  @include dispalay(flex, "", center);

  box-shadow: 1px 1px 1px 1px #948f8f;
  border-radius: 10px;
  margin: 43px auto;
  padding: 2%;
}
