@import "../../utils/ccsHelper.scss";
#sliders {
  @include widthHeight(80%, 150px);
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0;
  @include dispalay(flex, center, center);
  position: relative;
  padding: 0 16.8% 0 0;
}
.slider_img {
  @include widthHeight(21%, 100%);
  position: absolute;
  right: 0;
}
.slider_img-view {
  @include widthHeight(100%, 100%);
  border-radius: 0 10px 10px 0;
}
.slider_titles {
  @include widthHeight(70%, 100%);
  @include dispalay(flex, "", center);
  flex-wrap: wrap;
  padding: 20px 10px;
}
.cat_title {
  @include widthHeight(100%, 35%);
  @include dispalay(flex, "", center);
}
.slider_number {
  @include widthHeight(14%, 100%);
  @include dispalay(flex, center, center);
  flex-wrap: wrap;
  padding: 0 10px;
}
.price_slider {
  @include widthHeight(100%, 20%);
  @include dispalay(flex, "", center);
}
.slider_RealPrice {
  @include widthHeight(10%, 35%);
  @include dispalay(flex, "", center);
  margin-left: 40px;
}
.slider_NewPrice {
  @include widthHeight(33%, 35%);
  @include dispalay(flex, "", center);
}

.classNamecat_number {
}
.cat_number-true {
  color: green;
  @include widthHeight(100%, "");
  @include dispalay(flex, space-around, center);
}
.cat_number-false {
  @include widthHeight(100%, "");
  @include dispalay(flex, space-around, center);
  color: red;
}

.font12 {
  font-size: 12px;
  color: firebrick;
}
.toman {
  color: black;
  padding: 0 5px 0 0;
  font-size: 11px;
}
