@import "../../utils/ccsHelper.scss";
.member_container {
  @include adminContentContainer();
}
.member_head {
  @include widthHeight(100%, 100px);
  background-color: #cccc;
  @include dispalay(flex, space-between, center);
  padding: 10px 20px;
}
.member_title {
  width: 205px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.member_submite {
  width: 150px;

  height: 45px;
}
.member_submit {
  @include submiteButton();
}
.member_submit:hover {
  background-color: rgb(40, 241, 40);
  border: 1px solid rgb(40, 241, 40);
}
.member_list {
  margin: 20px 0 0 0;
}
