@import "../../theme/index.scss";

.sideBar {
  background-color: white;
  max-height: 1591px;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: $navBarSize;
  width: $sideBarSize;
  height: 100%;
  right: 0;
}

.menuHolder {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.menuHolderActive {
  display: flex;
  align-items: center;
  background-color: gray;
  margin: 8px 0;
}

.menuIcon {
  width: 24px;
  margin: 8px 16px;
  height: 24px;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
.menuTitle {
  font-size: 14px;
  color: black;
}
