.owner_row-container {
  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
  width: 91%;
  display: flex;
  align-items: center;
  margin: 30px 0;
  line-height: 1;
  border-radius: 5px;
  position: relative;

  background-color: white;
  padding: 25px 10px;
}
.owner_avatar {
  width: 96px;
  height: 96px;
  margin: 8px;
  border-radius: 100%;
  border: 3px solid #6c6d00;
}
.owner_Basic_information {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}
.owner_jus {
}
.owner_discription {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 17%;
  line-height: 1;
  justify-content: center;
}
.owner_discription span {
  margin: 4px 3px;
  min-width: 170px;
  width: 100%;
}
.owner_category {
  font-size: 13px;
  color: #113e11;
  opacity: 0.8;
}
.owner_name {
  font-size: 15px;
}
.owner_phone-number {
  font-size: 12px;
}
.owner_active_discount {
  font-size: 20px;
  color: green;
}
.owner_de-active_discount {
  font-size: 20px;
  color: red;
}
.owner_address {
  font-size: 12px;
  width: 100%;
  margin-bottom: 2%;
}
.phone_address-owner {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.owner_active {
  width: 20%;
  height: 99px;
  text-align: start;
  padding: 0 5% 0 0;
}
.owner_activing {
  height: 76px;
}
.owner_is-active {
  color: #113e11;
}
.owner_de-active {
}
.owner_is-de-active {
  color: #9b0f0f;
}
.owner_job {
  color: darkred;
  width: 22%;
}
.sell_owner {
  color: blue;
}
.kapons_owner {
  width: 100%;
  height: 50px;
  color: #246059;
}
.owner_job div {
  padding: 6%;
}
.block_owner {
  width: 40px;
  height: 40px;
  line-height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 23px;

  color: white;
  font-weight: 700;
  border: 1px solid;
  cursor: pointer;
}
.block_owner:hover {
  background-color: black;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
