@mixin flexBoxCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin dispalay($flex, $justify-content, $align-items) {
  display: $flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin bordeBottom($width, $color) {
  border-bottom: $width solid $color;
}
@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}
.content {
  padding: 0 !important;
}
.login {
  width: 100%;
  height: 600px;
  position: relative;
}
.logo_campon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 37%;
  text-shadow: 2px 4px 9px;
  font-size: 20px;
  color: #06babf;
}
.login_container {
  width: 331px;
  height: 255px;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  border-radius: 10px;
}
.login_head {
  width: 100%;
  height: 50px;
  @include flexBoxCenter;
}
.login_head span {
  width: 100%;
  height: 100%;
  @include flexBoxCenter;
  @include bordeBottom(1px, #ccc);
  font-size: 20px;
}
.login_box {
  padding: 30px 30px;
  @include widthHeight(100%, 88%);
}

.login_submit {
  @include flexBoxCenter;
  @include widthHeight(100%, 59px);
  margin-top: 20px;
}
.login_submit a {
  width: 100%;
}
.login_submit button {
  @include widthHeight(100%, 45px);
  border: 1px solid #05bb05;
  background-color: #05bb05;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 14px;
}
.alert_mobile {
  @include flexBoxCenter;
  @include widthHeight(100%, 45px);
  height: 28px;
  background-color: #ffd5d5;
  border-radius: 5px;
}
