@import url("./assets/fonts/index.css");
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */

  background: #ffff;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 0;
}
* {
  font-family: "IranSans";
}
li {
  list-style: none;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
html {
  min-width: 1000px;
  max-height: 3000px;
  height: 100%;
}
body,
html {
  direction: rtl;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.content {
  padding: 82px 273px 0 0;
  width: 100%;
  display: flex;
}
a {
  text-decoration: none;
}
