@import "../../theme/index.scss";
@import "../../utils/ccsHelper.scss";

.AddSabCategory_container {
  @include adminContentContainer();
  @include centerAll();
}
.AddSabCategory_box {
  box-shadow: 0px 0px 7px 1px #ccc;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 46%;
}
.boxHeadTitle {
  padding: 15px 5px;
  border-bottom: 1px solid;
}
.boxForInformation {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.boxForInformation > span {
  margin: 20px 0;
}
.categoryTitle {
  position: relative;
  width: 100%;
  padding: 20px 3px;
  background-color: #dcdcdc;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}
.categoryTitle:before {
  content: "<";
  position: absolute;
  left: 10px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.categoriesContainer {
  width: 99.5%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 5px 3px #ccc;
  border-radius: 0 0 10px 10px;
  margin-bottom: 15px;
  padding: 5px 10px;
  top: 41px;
  max-height: 250px;

  overflow: hidden;
  overflow-y: scroll;
}
.categoriesContainer span {
  border-bottom: 1px solid;
  padding: 17px 10px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.categoriesContainer span:last-child {
  border-bottom: unset;
}
.categoriesContainer span:nth-child(even) {
  background-color: #e9e9e9;
}
.categoriesContainer span:nth-child(even):hover {
  background-color: white;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.categoriesContainer span:nth-child(odd) {
  background-color: #323232;
  color: white;
}
.categoriesContainer span:nth-child(odd):hover {
  background-color: white;
  color: black;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.categoriesContainer span:first-child {
  background-color: white;
  color: black;
}
.boxForInformation select {
  background-color: #dcdcdc;
  padding: 5px;
  border-radius: 5px;
}
.boxForInformation input {
  background-color: #dcdcdc;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
  border-radius: 5px;
}

.btnSubmited {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.btnSubmited span {
  padding: 18px;
  background-color: #949494;
  border-radius: 10px;
  color: white;
  font-weight: 900;
  cursor: pointer;
}
.btnSubmited span:hover {
  background-color: #026f0f;
}
