@import "../../utils/ccsHelper.scss";
#Categorys {
  @include widthHeight(80%, 150px);
  background-color: #ffffff;
  margin: 20px 0 0 0;
  border-radius: 10px;
  @include dispalay(flex, "", center);
  position: relative;
  box-shadow: 1px 1px 5px 0;
  padding: 0 18.5% 0 0;
}
.category_img {
  @include widthHeight(23.5%, 100%);
  height: 100%;
  position: absolute;
  right: 0;
}
.category_img-view {
  @include widthHeight(100%, 100%);
}
.category_titles {
  @include widthHeight(30%, 100%);
  @include dispalay(flex, center, center);
  padding: 0 5% 0 0;
}
.cat_title {
}
.category_owner_details {
  @include widthHeight(20%, 100%);
  @include dispalay(flex, center, center);
  flex-direction: column;
  line-height: 2;
}
.category_owner_details {
  div:first-child {
    color: blue;
  }

  color: brown;
}
.category_number {
  @include widthHeight(14%, 100%);
  @include dispalay(flex, center, center);
  flex-wrap: wrap;
  padding: 9px;
}
.classNamecat_number {
}
.cat_number-true {
  color: green;
  @include widthHeight(100%, "");
  @include dispalay(flex, space-around, center);
}
.cat_number-false {
  @include widthHeight(100%, "");
  @include dispalay(flex, space-around, center);
  color: red;
}
.delete_category {
  position: absolute;
  @include widthHeight(20px, 20px);
  @include dispalay(flex, center, center);
  border-radius: 100%;
  left: 1px;
  top: 2px;
  background-color: red;
  color: white;
  font-weight: 700;
  border: 1px solid;
  cursor: pointer;
  line-height: 1px;
}
.edit_category {
  position: absolute;
  @include widthHeight(124px, 29px);
  @include dispalay(flex, center, center);
  border-radius: 10px;
  left: 1px;
  bottom: 1px;
  color: white;
  font-weight: 700;
  border: 1px solid;
  cursor: pointer;
  line-height: 1px;
  background-color: orange;
}
// .edit_category::before {
//   content: "\ed50";
//   font-family: "icon";
// }
.category_options {
  display: flex;
  width: 20%;
  flex-direction: column;
}
.category_options button {
  background-color: #929292;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-right: 100%;
  margin-bottom: 2%;
}
.categoryWeight {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryWeight select {
  padding: 7px 16px;
  font-size: 15px;
}
.viewSubCategory {
}
.btnViewSubCategory {
}
.delete_category {
  width: 40px;
  height: 40px;
  line-height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 23px;

  color: white;
  font-weight: 700;
  border: 1px solid;
  margin-left: 3%;
  cursor: pointer;
}
.delete_category:hover {
  background-color: red;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.edit_category {
  width: 40px;
  height: 40px;
  line-height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  color: white;
  font-weight: 700;
  border: 1px solid;
  cursor: pointer;
  margin-left: 3%;
}
.edit_category:hover {
  background-color: orange;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.edit_category:before {
  content: "\ed50";
  font-family: "iconFont";
  font-size: 22px;
}
