@import "../../utils/ccsHelper.scss";
.settings {
  @include adminContentContainer();
}
.settings_container {
  padding: 6% 10% 21px;
}
.setting_inpute-form {
}
.download_app_sellers {
  @include dispalay(flex, center, center);
  flex-wrap: wrap;
}
.download_app_sellers > span {
  margin: 0 0 3% 0;
  @include widthHeight(100%, auto);
}
.input_seller {
  position: relative;
  width: 100%;
}
.upload_app_txt {
  width: 100%;
  padding: 1% 8%;
  border-radius: 3px;
  border: 1px solid #303030;
}
.add_new_upload {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0;
}
.add_new_upload > span {
  padding: 7.5%;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
}
.add_new_upload > span:hover {
  background-color: rgb(3, 190, 3);
}
.upload_app {
  visibility: hidden;
}
.input_seller .upload_app_txt:focus {
  background-color: rgb(225, 255, 168);
}
.download_app_customers {
  @include dispalay(flex, center, center);
  flex-wrap: wrap;
  margin-top: 6%;
}
.download_app_customers > span {
  @include widthHeight(100%, auto);
  margin: 0 0 3% 0;
}
.input_customer {
  position: relative;
  width: 100%;
}
// .input_customer input {
//   width: 100%;
//   padding: 1%;
//   border-radius: 3px;
//   border: 1px solid #303030;
// }
.input_customer input:focus {
  background-color: rgb(225, 255, 168);
}
.submited_app-link {
  position: absolute;
  left: 0;
  padding: 1% 3%;
  background: green;
  border: 1px solid green;
  color: white;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}
.submited_app-link:hover {
  border: 1px solid rgb(3, 182, 3);
  background: rgb(3, 182, 3);
}
.link_box {
  @include dispalay(flex, center, center);
  flex-wrap: wrap;
  margin-top: 6%;
}
.link_box span {
  @include widthHeight(100%, auto);
  margin: 0 0 3% 0;
}

.input_link {
  position: relative;
  width: 100%;
}
