@import "../../utils/ccsHelper.scss";
#Districts {
  @include widthHeight(auto, auto);
  border-radius: 10px;
  @include dispalay(flex, center, center);
  position: relative;
  box-shadow: 1px 1px 5px 0;
  min-width: 20%;
  min-height: 27px;
  margin: 20px 13px;
  border-radius: 10px;
  background-color: #ffd713;
}

.District_img-view {
  @include widthHeight(100%, 100%);
}
.District_titles {
  @include widthHeight(70%, 100%);
  @include dispalay(flex, center, center);
}

.District_number {
  @include widthHeight(14%, 100%);
  @include dispalay(flex, center, center);
  flex-wrap: wrap;
  padding: 9px;
}
.classNameDistrict_number {
}
.District_number-true {
  color: green;
  @include widthHeight(100%, "");
  @include dispalay(flex, space-around, center);
}
.District_number-false {
  @include widthHeight(100%, "");
  @include dispalay(flex, space-around, center);
  color: red;
}
.delete_District {
  position: absolute;
  @include widthHeight(20px, 20px);
  @include dispalay(flex, center, center);
  border-radius: 100%;
  left: 1px;
  top: 3px;
  background-color: red;
  color: white;
  font-weight: 700;
  border: 1px solid;
  cursor: pointer;
  line-height: 1px;
}
.delete_District:hover {
  background-color: rgb(253, 80, 80);
}
