@import "../../utils/ccsHelper.scss";
.discount_container {
  @include adminContentContainer();
}
.discount_head {
  @include widthHeight(100%, 100px);
  background-color: #cccc;
  @include dispalay(flex, space-between, center);
  padding: 10px 20px;
}
.discount_title {
  width: 205px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.discount_submite {
  width: 150px;

  height: 45px;
}
.discount_submit {
  @include submiteButton();
}
.discount_submit:hover {
  background-color: rgb(40, 241, 40);
  border: 1px solid rgb(40, 241, 40);
}
.discount_list {
  margin: 20px 0 0 0;
}
.owner-search {
  width: 26%;
  height: auto;
  text-align: center;
  cursor: pointer;
}
.owner-search input {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
